* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-card-shadow: 0px 4px 20px 0px #0000001a;
  --main-color: rgba(220, 153, 55, 1);
  --primary-color: #818188;
  --secondry-color: black;
  --primary-white-color: #fff;
  --gray-color: #f3f3f3;
  --dark-gray-color: #c4c4c2;
  --gray-text-color: #8f8e8e;
  --rounded-sm: 0.5rem;
  --line-border-fill: #0c5adb;
  --line-border-empty: #eaecf0;
  --accordion-button-background-color: #015184;
  --director-card-background-color: #01518412;
}

/* english fonts  */

@font-face {
  font-family: "helvetica-Light";
  src: url("../fonts/EN Font/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
  font-family: "helvetica-Regular";
  src: url("../fonts/EN Font/Helvetica.ttf");
}
@font-face {
  font-family: "helvetica-Bold";
  src: url("../fonts/EN Font/Helvetica-Bold.ttf");
}


/* arabic fonts  */

@font-face {
  font-family: "GE-SS-Two-Light";
  src: url("../fonts/AR Font/ArbFONTS-GE-SS-Two-Light_28.otf");
}
@font-face {
  font-family: "GE-SS-Two-MEDIUM";
  src: url("../fonts/AR Font/ArbFONTS-GE_SS_TWO_MEDIUM_5.otf");
}
@font-face {
  font-family: "GE-SS-Two-Bold";
  src: url("../fonts/AR Font/ArbFONTS-GE_SS_Two_Bold_4.otf");
}

p,
a,
label,
th,
td,
li {
  font-family: helvetica-Regular;
}

h3 {
  color: var(--main-color);
  font-family: helvetica-Regular;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--main-color);
  font-family: helvetica-Bold;
}

.arabic-version p, .arabic-version a ,.arabic-version label,.arabic-version th, .arabic-version td,.arabic-version li{
  font-family: GE-SS-Two-MEDIUM;
}
.arabic-version h3 {
  font-family: GE-SS-Two-MEDIUM;
}
.arabic-version h1,
.arabic-version h2,
.arabic-version h4,
.arabic-version h5 {
  font-family: GE-SS-Two-Bold;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
.arabic-version {
  direction: rtl;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

.main-btn{
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 0;
  border-radius: 45px;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-family: helvetica-Regular;
  width: 170px;
}
.main-btn:hover{
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.secondary-btn{
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  border-radius: 45px;
  font-size: 1.2rem;
  font-family: helvetica-Regular;
  width: 170px;
}
.secondary-btn:hover{
  background-color: var(--main-color);
  color: white;
  border-color: transparent;
}
nav a {
  color: black;
  text-decoration: none;
  margin-inline-end: 1rem;
}

.home-main-section{
  background-image: url("../Assets/Img/Group\ 2.png");
  background-size: cover;
  background-position: center center;
  height: 95vh;
  position: relative;
  display: flex;
  align-items: center;
}
.home-main-section::after{
  content: '';
  background: linear-gradient(90deg, #2C362B 0%, rgba(44, 54, 43, 0) 100%);
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
}
.arabic-version .home-main-section::after{
  background: linear-gradient(270deg, #2C362B 0%, rgba(44, 54, 43, 0) 100%)
}
.home-main-section .container{
  /* padding-top: 12%; */
  z-index:999;
  position: relative;
}
.home-main-section h2{
  margin-bottom: 1rem;
}
.home-main-section .coming-soon p{
  margin-bottom: 3rem;
  color: white;
  width: 37%;
}
.home-main-section p{
  color: white;
}
.home-main-section h3{
  color: white;
}
.home-main-section picture{
  margin-inline-start: 30px;
}
.footer-section{
  background-color: var(--main-color);
}
.footer-section p{
  margin-bottom: 0;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.arabic-version .location-group img {
  transform: scalex(-1);
}
@media (max-width:990px) {
  .home-main-section .coming-soon p{
    width: 50%;
  }
}
@media (max-width:767px) {
  .home-main-section .coming-soon p{
    width: 70%;
  }
}
@media (max-width:400px) {
  nav picture{
    width: 70%;
  }
  nav img{
    width: 100%;
  }
}
.location-group{
  display: flex;
  align-items: center;
  gap: 5px;
}
.location-group p{
  margin-bottom: 0;
}
.location-group p:first-child{
  margin-bottom: 5px;
}
@media (max-width:990px) {
  .location-group{
    flex-direction: column;
    align-items: flex-start;
  }
  .location-group span{
    display: none;
  }
  .home-main-section picture{
    margin-inline-start: 10px;
  }
  .nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}